:root{
  --nav: #1f1534;
  --text-2: #7d7987;
  --btn-header: #458ff6;
  --black:#000000;
  --white: #ffffff;
  --dot-active:#5b9bf3;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}
.overfloy {
  display: flex;
  flex-direction: column;
  width: 100%;
}
 .header-menu {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: url('./img/element.png') no-repeat;
  background-position: top 32% left;
 } 
 .container {
  width: 80%;
  margin: 0 auto;
 }
 .header-logo {
   flex: 0 0 40%;
 }
 .navigation {
  flex: 0 0 60%;
 }
.header-wrap {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav-item {
 list-style: none;
}
.nav-item:last-child {
  padding-right: 0;
}
.nav-item a:hover {
  color: var(--nav);
  opacity: 1;
  padding: 0;
}
.nav-item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--nav);
  opacity: 0.2;
  width: 100px;
}
.text-1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  margin-top: 80px;
}
.text-2 {
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  color: var(--text-2);
  margin-top: 25px;
}
.btn-header {
  margin-top: 48px;
}
 .block-right img {
   width: 100%;
 } 
.block-left,
.block-right {
  flex: 0 0 50%;
  margin-top: 80px;
}
.test-wrap{
  width: 80%;
}
/* main */
.services{
  padding-top: 5%;
  padding-bottom: 5%;
}
.services-title {
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
  text-align: center;
  position: relative;
}
.services-title::after {
  content: '';
  position: absolute;
  width: 56px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  height: 2px;
  background: var(--black);
  border-radius: 5px;
  z-index: 5;
}
.main-text{
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: var(--text-2);
  margin-top: 60px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
  justify-content: center;
  margin-top: 80px;
}
.card-item {
  flex: 0 1 33.333%;
  padding: 2%;
}
.card-body{
  background-color: var(--white);
  min-width: 80%;
  min-height: 80%;
  padding: 40px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.card-item-img {
  width: 90px;
  height: 90px;
}
.card-item-h {
  line-height: 56px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 22px;
}
.card-item-text {
  font-size: 16px;
  font-weight: 300px;
  color: var(--text-2);
  text-align: justify;
  margin-top: 5px;
}
.btn-main,
.section-btn,
.btn-header,
.check-btn {
  width: 200px;
  height: 56px;
  background:var(--white);
  border: 1.4px solid var(--btn-header);
  border-radius: 55px;
  cursor: pointer;
}
.btn-main{
  margin: 70px auto 0 auto;
}
.check-btn {
  margin: 50px auto 0 auto;
}
.btn-main:hover,
.section-btn:hover,
.btn-header:hover,
.check-btn:hover {
  background-color: var(--btn-header);
}
.section-btn a:hover,
.btn-main a:hover,
.btn-main a:hover,
.btn-header a:hover,
.check-btn:hover {
  color: var(--white);
}
.section-btn a:hover::after {
  content: url(./img/arrow-white.png);
}
.btn-main a,
.section-btn a,
.btn-header a,
.check-btn {
  display: block;
  text-decoration: none;
  color: var(--btn-header);
  text-align: center;
  line-height: 56px;
}
.leading {
  padding: 5% 0;
}
.section,
.section-2 {
  display: flex;
  justify-content: center;
}
.wrap {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
}
.wrap-2 {
  flex: 0 0 50%;
}
.wrap-body {
  width: 80%;
}
.section-image {
  flex: 0 0 50%;
}
.section-image img,
.section-image-2 img{
  width: 100%;
}
.section-h1 {
  position: relative;
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
  margin-top: 50px;
}
.section-h1:after {
  content: '';
  position: absolute;
  width: 56px;
  left: 0;
  bottom: -25px;
  height: 2px;
  background: var(--black);
  border-radius: 5px;
  z-index: 5;
}
.section-text {
  font-size: 18px;
  line-height: 30px;
  color: var(--text-2);
  margin-top: 60px;
}
.section-btn {
  margin-top: 37px;
}
.section-btn a::after {
  content: url(./img/arrow.png);
  padding-left: 14px;
  color: var(--nav);
}
.download {
  padding: 5% 0;
}
.slider {
  padding: 5%  0;
}
.slider-conteiner-1,
.slider-conteiner-2 img {
  border-radius: 24px;
}
.slider-conteiner-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  min-height: 425px; 
}
.slider-wrap{
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}
.test-carusel {
  display: flex;
  transition: all 1000ms ease 0s;
}
.slider-row {
  display: flex;
  margin-top: 50px;
}
.slider-h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color:var(--white);
  text-align: center;
  margin-top: 30px;
  position: relative;
}
.slider-h1::after {
  content: '';
  position: absolute;
  width: 56px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  height: 2px;
  background: var(--white);
  border-radius: 5px;
  z-index: 5;
}
.slide1 {
  background: linear-gradient(208deg, #67c3f3, #5a98f2);
}
.slide2 {
  background: linear-gradient(208deg, #67c3f3, #38814e);
}
.slide3 {
  background: linear-gradient(208deg, #67c3f3, #ba5af2);
}
.slide4 {
  background: linear-gradient(208deg, #67c3f3, #f25ab3);
}
.slider-block-left,
.slider-block-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-block-left,
.slider-block-right {
  flex: 0 0 50%;
}
.test-slide {
  flex: 0 0 100%;
}
.block-info h2,
.block-info p {
  font-size: 22px;
  color:var(--white);
  font-weight: 700;
  padding-left: 20px;
}
.block-info p {
  font-weight: 400;
  font-size: 18px;
}
.slider-block-right p {
  font-size: 19px;
  color:var(--white);
  font-weight: 400;
}
.slider-switch {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}
.slider-body {
  width: 80%;
  height: 80%;
}
.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 15px;
}
.dot {
  margin: 0 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--dot-active);
  opacity: 0.3;
}
.prev {
  content: url(./img/arrow-left.png);
}
.next {
  content: url(./img/arrow-right.png);
}
.block-check {
  padding: 5% 0 ;
}
.check-h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
  position: relative;
  text-align: center;
}
.check-h1::after {
  content: '';
  position: absolute;
  width: 56px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  height: 2px;
  background: var(--black);
  border-radius: 5px;
  z-index: 5;
}
.item-body img {
  width: 100%;
}
.check-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
.container-item {
  flex: 0 0 30%;
  margin: 15px;
}
.item-body {
  background: var(--white);
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  overflow: hidden;
  height: 430px;
}
.check-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-wrap {
  height: 80%;
  width: 80%;
}
.info-wrap h2 {
  font-size: 21px;
  font-weight: 700;
  color: var(--black);
  text-align: justify;
  margin-top: 20px;
}
.info-wrap p {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-2);
  margin-top: 20px;
}
.info-wrap a {
  text-decoration: none;
  color: #4089ed;
  display: block;
  position: relative;
  margin-top: 20px;
  width: 100px;
}
.info-wrap a::after {
  content: "";
  width: 14px;
  height: 9px;
  background-image: url(./img/arrow-right.png);
  background-size: cover;
  position: absolute;
  top: 5px;
  right: 0;
}
.footer-container {
  background: linear-gradient(183.41deg, #67c3f3, #5a98f2);
  color: var(--white);
  padding: 5%;
}
.footer-wrap {
  display: flex;
}
.footer-item {
  flex: 0 0 40%;
}
.footer-text,
.footer-copy {
  font-size: 18px;
  font-weight: 300;
  margin: 20px;
}
.footer-copy {
  font-size: 16px;
  margin-top: 40px;
}
.footer-item h4 {
  font-size: 24px;
  position: relative;
  padding-left: 67px;
}
.footer-item h4::before {
  content: "T";
  color: #5a98f2;
  font-size: 30px;
  text-align: center;
  background-image: url(./img/Ellipse\ 8.png);
  width: 41px;
  height: 41px;
  position: absolute;
  line-height: 41px;
  top: -12px;
  left: 17px;
}
.item-mini {
  flex: 0 0 20%;
  margin: 0 20px;
}
.item-mini a {
  display: block;
  text-decoration: none;
  color: var(--white);
  margin: 10px 0;
}
.test-flex {
  display: flex;
}
.dot-active {
  background:var(--dot-active);
  height: 10px;
  width: 10px;
  opacity: 1;
}
.none a::after {
  display: none;
}
.btn-view {
  display: none;
}
.check-view {
  display: flex;
}
.margin-block{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
